name: Potman Collection Workflow

on: 
  push:
    branches: [main]
  workflow_dispatch: 
  schedule:
    - cron: 30 02 * * *    #8 am IST
    - cron: 00 14 * * *    # 7.30 pm IST every day
    - cron: 00 06 * * 1-5    # 11.30 am IST


jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6.0.2

      - name: Install Nodejs and npm
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '22'

      - name: Install Newman and HTML-extra globally
        run: |
              npm install -g newman
              npm install -g newman-reporter-htmlextra

      - name: Run the postman Collection with newman
        run: |
             newman run 'Inwarranty-flow Collection.postman_collection.json' \
             -e QA.postman_environment.json \
             -d testData.csv \
             -r cli,htmlextra \ 
             --reporter-htmlextra-export. /newman/index.html
      - name: Newman Report
        if: always() # ensure that the archive executed wheater the previous step has failed 
        uses: actions/upload-artifact@v6.0.0
        with:
         name: Newman Report 
         path: newman/*html

      - name: Creating github page branch
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/
